<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyb9vY5Xwt-KZUxRu-zQH6vaV-ItFqtgg</string>
	<key>GCM_SENDER_ID</key>
	<string>222219867307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFlutterWeb</string>
	<key>PROJECT_ID</key>
	<string>aluminexadmin</string>
	<key>STORAGE_BUCKET</key>
	<string>aluminexadmin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222219867307:ios:3ed057cc31ff5613a713ee</string>
</dict>
</plist>